@use "@/sassStyles/media-queries" as *;

.promotions-wrapper {
  max-width: 75rem;
  margin: 3rem auto;
  text-align: center;
  padding: 0 1rem;

  .promotions-header {
    margin-bottom: 3rem;
  }

  .promotions-main {
    display: grid;
    place-content: center;
  }
}
