@use "@/sassStyles/media-queries" as *;
@use "@/sassStyles/colors" as *;
@use "@/sassStyles/mixins" as *;

.franchise-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("@/assets/franchise-banner.webp");
  background-repeat: no-repeat;
  background-position: center right;

  .franchise-wrapper {
    max-width: 75rem;
    margin: 0 auto;
    padding: 3rem 1rem;
    text-align: center;

    .franchise-title {
      color: $yellow-color;
      margin-bottom: 2rem;
    }

    .franchise-message {
      color: $light-color;
      margin-bottom: 2rem;
    }
  }
}

.franchise-btn {
  .btn {
    color: $light-color;
    text-decoration: none;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.1875rem;
  }

  .btn-yellow {
    @include button-bg($primary-color);
  }
}
